.header__link{
    text-decoration: none !important;
    color: white;
}

.header__link:hover{
    text-decoration: none;
    color: orange;
}


.header__link, .header__link:hover, .header__link:focus {
    text-decoration: none !important;
}