.subtotal {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: pink;
  border-radius: 5px;
  padding: 15px;
}

.subtotal__total {
  margin-bottom: 10px;
  font-size: 18px;
}


.subtotal__btn {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: purple;
  color: white;
}
