

.checkoutProduct {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 25px;
}

.checkoutProduct__container {
    display: flex;
    flex-direction: column;
    width: 225px;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
}

.checkoutProduct__image {
    border-radius: 5px;
    max-width: 225px;
}

.checkoutProduct__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.checkoutProduct__btn {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: purple;
    color: white;

    align-self: center;
}